<div style="padding: 5px; ">
    <button type="button" style="border-radius: 5px;" {{on "click" this.openDialog}}>
        <h1>{{@containers}}</h1>
        <p>{{@itemname}}</p>
    </button>
</div>

<MdcDialog @title="{{this.personname}} heeft een kratje {{this.itemname}}" @negativeButton={{hash action="close"
    label="Cancel" }} @open={{this.open}}>
    <div style="display: flex; flex-direction: row;">
        <div type="button" style="width: 100px; height: 100px; background-color: pink; text-align: center;" {{on "click"
            this.decrement}}>
            <MdcIcon @icon="remove_circle" style="padding-top: 20px;" />
            <p style="color: grey;"> Ingeleverd</p>
        </div>
        <div type="button" style="width: 100px; height: 100px; background-color: lightgreen; text-align: center;"
            {{on "click" this.increment}}>
            <MdcIcon @icon="add_circle" style="padding-top: 20px;" />
            <p style="color: grey;"> Gekocht</p>
        </div>
    </div>
</MdcDialog>