<MdcIcon @icon="edit" type="button" {{on "click" (fn this.openDialog)}} />


<MdcDialog @title="Edit the item" @negativeButton={{hash action="close" label="Cancel" }} @positiveButton={{hash
    action="save" label="Save" closing=this.save}} @open={{this.open}}>
    <form {{action 'save' on='submit' }}>
        <div class="form-floating mb-3">
            <div style="padding: 10px;">
                <label>Item name</label>
                <input class="form-control" type="text" placeholer="Name" value={{@item.name}} onchange={{action
                    updateName }}>

                <label>Container size</label><br>
                <input class="form-control" type="text" placeholer="Size" value={{@item.container_size}}
                    onchange={{action updateContainersize }}>
            </div>

        </div>
    </form>


</MdcDialog>