<div class="container">
  <div class="row">
    <div class="col-sm-9 col-md-7 col-lg-7 mx-auto">
      <div class="card border-0 shadow rounded-3 mt-5">
        <div class="card-body p-sm-5">
          <h5 class="card-title text-center mb-5">Sign In</h5>
          <form {{action 'authenticateWithOAuth2' on='submit' }}>
            <div class="form-floating mb-3">
              <input class="form-control" id="floatingInput" placeholder="name@example.com"
                value={{this.identification}} onchange={{action 'updateIdentification' }}>
              <label for="floatingInput">Username / Email address</label>
            </div>

            <div class="form-floating mb-3">
              <input type="password" class="form-control" id="floatingPassword" placeholder="Password"
                onchange={{action 'updatePassword' }} value={{this.password}}>
              <label for="floatingPassword">Password</label>
            </div>

            <div class="form-check mb-3">
              <input class="form-check-input" type="checkbox" value="" id="rememberPasswordCheck"
                onchange={{action 'updateRememberMe' }}>
              <label class="form-check-label" for="rememberPasswordCheck">
                Remember password
              </label>
            </div>
            <div class="d-grid">
              <button class="btn btn-primary btn-login text-uppercase fw-bold" type="submit">Sign
                in</button>
            </div>

            {{#if errorMessage}}
            <div class="alert alert-danger mt-3 text-center" data-test-error-message>
              <p>
                <strong class="text-center">Login failed</strong>
                <br>
                <code>{{errorMessage}}</code>
              </p>
            </div>
            {{/if}}
          </form>
        </div>
      </div>
    </div>
  </div>
</div>